<div class="buffer-bottom row">
  <div class="row">
    <p><%= comment.body %></p>
    <div>
      <% if current_user_can_edit?(comment) %>
        <%= button_to '', event_comment_path(comment.event, comment),
                      method: :delete,
                      form: { data: { turbo_confirm: t('.destroy_confirm') } },
                      class: 'btn bi bi-trash2'
        %>
      <% end %>
    </div>
  </div>
  <p>
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
  </p>
</div>
