<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group my-4">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group my-4">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group my-4">
    <%= f.label :avatar %>
    <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions check my-4">
    <%= f.submit I18n.t('views.users.edit.links.save'), class: 'btn btn-primary' %>
    <%= I18n.t('views.users.edit.links.or') %> <%= link_to I18n.t('views.users.edit.links.back'), :back %>
    <div class="actions">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      или <%= link_to 'back', :back %>
    </div>
  </div>

<% end %>
