<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group my-4">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group my-4">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group my-4">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>

  <div class="actions check my-4">
    <%= f.submit t('views.users.edit.links.save'), class: 'btn btn-primary' %>
    <%= t('views.users.edit.links.or') %> <%= link_to t('views.users.edit.links.back'), :back %>
  </div>

<% end %>
