<h1 class="my-3"><%= I18n.t('views.users.edit.edit_profile') %></h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to I18n.t('views.users.edit.links.show_user'), @user %> |
  <%= link_to I18n.t('views.users.edit.links.back_to_users'), user_path %>
</div>

<p class="buffer-top">
  <%= link_to I18n.t('views.users.edit.links.change_password'), edit_user_registration_path %>
</p>
