<h2 class="buffer-both"><%= t("devise.passwords.new.forgot_your_password") %></h2>

<dev class="buffer-both">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field col-4 buffer-both">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="actions col-4 buffer-top">
      <%= f.submit t("devise.passwords.new.send_me_reset_password_instructions"), class: 'btn btn-primary buffer-bottom' %>
    </div>
  <% end %>
</dev>

<%= render "devise/shared/links" %>
