<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=09830f30-6061-410b-a189-3f3fc95aff0c&lang=ru_RU"
            type="text/javascript">
    </script>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

    <meta name="google-site-verification" content="eGFntPIAm6eF8g1UOdPJTo0oNpJEJdBCSMeFdQXcE6A" />
  </head>

  <body>
  <div class="container">
        <nav class="navbar navbar-expand sticky-top navbar-dark bg-primary">
          <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
         <div>
           <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to t('views.application.profile'), current_user, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('views.application.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
            <% else %>
              <li class="nav-item"><%= link_to t('views.application.sign_in'), new_user_session_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('views.application.sign_up'), new_user_registration_path, class: 'nav-link' %></li>
            <% end %>
           </ul>
         </div>
        </nav>

    <div class="container">
      <div class="row">
          <%= bootstrap_flash %>
          <%= yield %>
        <div class="col-lg-3">
        </div>
      </div>

      <footer>
        <%# Для вывода названия компании используем хелпер I18n.t %>
        <p>&copy; <%= t 'app.company' %> 2016</p>
      </footer>
    </div>
  </div>
  </body>
</html>
